<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{mm.title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/basic.css')}}" type="text/css" />
    </head>
    <body>
        <div id='content'>
        <a href="{{mm.link}}"><img border=0 src="{{mm.logo}}" height=67 width=491 alt="{{mm.title}}"></a>

        <div id="sidebar" float="right">
            <p><a href="/rss20.xml"><img border=0 src="{{url_for('static', filename='img/feed-icon-14x14.png')}}"></a> {{mm.description}}
            <br /><br />
            <a href="about.html">About {{mm.title}}</a>
            <br />
            <a href="http://twitter.com/{{mm.social.twitter}}">@{{mm.misc.social.twitter}}</a>

            {%if mm.misc.related %}
            <h4 class="section">Related Sites</h4>
            <ul>
              {%for related in mm.misc.related %}
              <li> <a href="{{related.link}}">{{related.name}}</a>
              {%endfor%}
            </ul>
            {%endif%}

            <h4 class='section'>Archives</h4>
            <ul class='archives'>
                <li> <a href='http://planet.lisp.org/2021/1.html'>January, 2021</a><br>
                <li> <a href='http://planet.lisp.org/2020/12.html'>December, 2020</a><br>
            </ul>

            <h4 class="section">Subscriptions</h4>
            <ul>
                {%for source in mm.sources%}
                <li><a href="{{source.link}}"><img border=0 alt="Feed" src="{{url_for('static', filename='img/feed-icon-14x14.png')}}"></a> <a href="{{source.url}}" title="{{source.name}}">{{source.name}}</a></li>
                {%endfor%}
            </ul>
        </div>

        <div id="body">
            {%for entry in mm.entries%}
            <h4 class="blosxomTitle"><a href="{{entry.source.url}}">{{entry.source.name}}</a> &mdash; <a href="{{entry.link}}">{{entry.title}}</a></h4>
            <a class="permalink" href="{{entry.link}}">@{{entry.date_update}}</a> <span class=timeoffset>&middot;</span> <span class=timeoffset id="">{{entry.time_elapsed}}</span>
            {%if entry.content%}
            <div class="blosxomStory">{{entry.content|safe}}</div>
            {%else%}
            <div class="blosxomStory">{{entry.summary|safe}}</div>
            {%endif%}
            {%endfor%}

            <p></p>
            <hr>
            <p>For older items, see the <a href="http://planet.lisp.org/2021/1.html">Planet Lisp Archives</a>.
            <hr>
            <p><em>Last updated: 2021-01-26 03:57</em></p>

        </div>
    </body>
</html>