<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{{mm.title}}</title>
  <meta name="theme-color" content="#54487a">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta name="twitter:image" content="">
  <link rel="apple-touch-icon" href="">
  <link rel="icon" sizes="192x192" href="">

  <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='tyrian/tyrian.min.css')}}">
  <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='tyrian/components/searchbars.min.css')}}">
  <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='tyrian/planet-tyrian.css')}}">
  <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='tyrian/components/bootstrap-datepicker.standalone.css')}}">

  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

<header>
  <div class="site-title">
    <div class="container">
      <div class="row justify-content-between">
        <div class="logo">
          <a href="/" title="Back to the homepage" class="site-logo">
            <img src="{{url_for('static', filename='site-logo.png')}}" alt="{{mm.title}}" srcset="{{url_for('static', filename='site-logo.svg')}}">
          </a>
          <span class="site-label">Planet</span>
        </div>
      </div>
    </div>
  </div>
  <nav class="tyrian-navbar navbar navbar-dark navbar-expand-lg bg-primary" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-main-collapse" id="navbar-main-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="search.html">Search</a></li>
          <li class="nav-item"><a class="nav-link" href="contributors.html">Contributors</a></li>
        </ul>

        <form class="form-inline inlinesearch mr-2" role="search" action="search.html" method="get">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <input class="form-control" type="text" name="q" type="text" placeholder="Quicksearch" aria-label="Find Packages">
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>

<div class="container mb-4">
  <div class="row">
    <div id="greeter" class="col-md-9">
      <div class="page-header mb-1" style="border-bottom: none!important;padding-bottom: 10px!important;margin-top:0px!important;">
        <h1>Welcome to {{mm.title}}, <br>
          <small class="text-muted">{{mm.description}}</small></h1>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div id="content" class="col-md-9">
        {%for entry in mm.entries%}
          <div class="page-header article-view mt-5" data-date="{{entry.date_update}}" data-location="planet" style="border-bottom: none!important;padding-bottom: 0px!important;">
            <h1>{{entry.date|date("%B %d")}}
              <small class="text-muted">{{entry.date|date("%Y")}}</small></h1>
          </div>
        <div class="row short-view d-none" data-date="{{entry.date_update}}" data-location="planet" style="margin-bottom:35px;">
          <div class="col-sm-2 pr-1">
            <img class="float-right" src="{{entry.source.avatar}}" style="width:75%;border-radius: 6px;margin-top:5px;"/>
          </div>
          <div class="col-sm-9">
            <div class="card" style="cursor:pointer;">
              <div class="card-body">
                <div class="mb-1"><h3 style="font-size:1.1rem;font-weight:700;margin-bottom:4px;">{{entry.title}}</h3>
                </div>
                <div class="mb-1 text-muted" style="">
                  <span style="margin-right:2px;">
                    {{entry.authors}}
                  </span>
                  <span style="">•</span>
                  <span style="font-weight: normal;margin-left:2px;">
                      {{entry.date_update}}
                  </span>
                </div>
                <div class="text-muted" style="height:63px;overflow-y: hidden;">{{entry.content}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card article-view mt-2" data-date="{{entry.date_update}}" data-location="planet" style="margin-top:20px;">
              <div class="card-body px-5">
                <div class="row mb-3 mt-3">
                  <div class="col-sm-11">
                    <div class="row">
                      <div class="col-sm-1" style="">
                        <img src="{{entry.source.avatar}}" style="width:40px;border-radius: 6px;margin-top:5px;"/>
                      </div>
                      <div class="col-sm-11" style="padding-left:0px;">
                        <div class="col-sm-12" style="margin-bottom:1px;padding-left:15px;">
                        <span style="color:#000!important;">
                          <b><span class="vcard"><a href="{{entry.link}}"> <span class="fn" style="color:#000!important;font-size:16px;">{{entry.title}}</span></a></span></b>
                        </span>
                        </div>
                        <div class="col-sm-12" style="padding-left:15px;">
                          <span style="margin-right:2px;">
                            <a style="color:#505050; font-weight: normal;" href="{{entry.source.url}}">{{entry.authors}}</a>
                          </span>
                          <span style="color:#505050;">•</span>
                          <span style="color:#505050; font-weight: normal;margin-left:2px;">{{entry.date_update}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="row">
                      <div class="col-sm-12" style="text-align: right;">
                        <span>
                          <a href="{{entry.source.url}}" class="btn btn-default btn-xs" style="background:transparent;color:#505050;border:none;"><i class="fa fa-lg fa-home" aria-hidden="true"></i></a>
                        </span>
                      </div>
                      <div class="col-sm-12" style="text-align: right;">
                        <span class="" style="color:#505050!important;">  </span>
                      </div>
                    </div>
                  </div>
                </div>
                {{entry.content}}
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
    </div>

    <div class="col-md-3">
      <div class="" style=" position: -webkit-sticky;position: sticky;top: 100px;">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-muted" style="font-size:0.9rem;font-weight:bold;">VIEW</div>
          </div>
          <div class="col-sm-12 mb-3">

            <div class="ml-2">
              <input onchange="updateView();" type="radio" class="d-none" id="article-view" name="view" value="article" checked>
              <label for="article-view" class="mb-1">
                <i class="fa fa-fw fa-newspaper"></i>&nbsp;<span>Article view</span>
              </label>
              <br/>
              <input onchange="updateView();" type="radio" class="d-none" id="headline-view" name="view" value="headline">
              <label for="headline-view">
                <i class="fa fa-fw fa-newspaper"></i>&nbsp;<span>Headline view</span>
              </label>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="text-muted" style="font-size:0.9rem;font-weight:bold;">SCOPE</div>
          </div>
          <div class="col-sm-12 mb-3">

            <div class="ml-2">
              <input onchange="updateView();" type="radio" class="d-none" id="planet-scope" name="fa-circle" value="View Planet" checked>
              <label for="planet-scope" class="mb-1">
                <i class="fa fa-fw fa-circle"></i>&nbsp;<span>View Planet</span>
              </label>
              <br/>
              <input onchange="updateView();" type="radio" class="d-none" id="universe-scope" name="fa-circle" value="View Universe">
              <label for="universe-scope">
                <i class="fa fa-fw fa-circle"></i>&nbsp;<span>View Universe</span>
              </label>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="text-muted" style="font-size:0.9rem;font-weight:bold;">FILTER</div>
          </div>
          <div class="col-sm-12">
            <div class="input-daterange ml-2 mt-1" id="datepicker">

              <div class="input-group input-group-sm mb-0">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm" style="border:none; background-color: #FAFAFA;padding-left:0px;"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;from</span>
                </div>
                <input onchange="updateArticles();" id="start" type="text" class="form-control" name="start" placeholder="start date" style="text-align:left; border:none;max-width: 150px;background-color: #FAFAFA;"/>
              </div>

              <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm" style="border:none; background-color: #FAFAFA;padding-left:0px;"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <input onchange="updateArticles();" id="end" type="text" class="form-control" name="end" placeholder="end date" style="text-align:left; border:none;max-width: 150px;background-color: #FAFAFA;"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-7">
        <h3 class="footerhead">{{mm.title}}</h3>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <strong>Last
              Updated:</strong><br><span class="kk-i18n-date" title="{{mm.last_update|date("%Y-%m-%d %H:%M")}}">{{mm.last_update|date("%Y-%m-%d %H:%M")}}</span>
          </div>
          <div class="col-xs-12 col-md-4">
            <strong>Powered by:</strong><br><a href='{{mm.makemake.source}}'>Powered by MakeMake</a>
          </div>
          <div class="col-xs-12 col-md-4">
            <!--
            TBD
            -->
          </div>
        </div>
      </div>
      {%if mm.misc.contact%}
      <div class="col-xs-12 col-md-3">
        <h3 class="footerhead">Questions or comments?</h3>
        Please feel free to <a href="{{mm.misc.contact.link}}">{{mm.misc.contact.text}}</a>.
      </div>
      {%endif%}
    </div>
    <div class="row">
      <div class="col-xs-3 col-md-2">
        <ul class="footerlinks three-icons">
          {%if mm.misc.social.twitter %}
          <li>
            <a href="https://twitter.com/{{mm.misc.social.twitter}}" title="@{{mm.misc.social.twitter}} on Twitter"><span class="fa fa-twitter fa-fw"></span></a>
          </li>
          {%endif%}
          {%if mm.misc.social.facebook %}
          <li>
            <a href="https://www.facebook.com/{{mm.misc.social.facebook}}" title="{{mm.title}} on Facebook"><span class="fa fa-facebook fa-fw"></span></a>
          </li>
          {%endif%}
          <li></li>
        </ul>
        {%if mm.misc.privacy_policy%}
        <div>
          <div class="sitemap text-center">
            <a href="{{mm.misc.privacy_policy}}">Privacy Policy</a>
          </div>
        </div>
        {%endif%}
      </div>
      {%if mm.misc.copyright%}
      <div class="col-xs-9 col-md-9">
        <strong>© {{mm.misc.copyright}}</strong><br>
        <small>{{mm.misc.copyright_content}}</small>
      </div>
      {%endif%}
    </div>
  </div>
</footer>
<script src="{{url_for('static', filename='tyrian/jquery-3.3.slim.js')}}"></script>
<script src="{{url_for('static', filename='tyrian/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='tyrian/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='tyrian/components/bootstrap-datepicker.min.js')}}"></script>
<script src="{{url_for('static', filename='tyrian/planet-tyrian.js')}}"></script>
</body>
</html>