/* $Id: all.css,v 1.2 2005/02/02 15:43:35 xach Exp newscluster $ */

.timeoffset {
    color: #aaaaaa;
    font-size: small;
}

/* Basic tags */
#lispmeetings ul {
    font-size: 75%;
}

#lispmeetings ul li {
    margin-left: 6.5em;
    text-indent: -6.5em;
}

#lispmeetings ul li.urgent {
    color: red;
}


body {
    /* margin: 0px; */
    background-color: white;
    font-family: sans-serif;
    color: black;
    /* font: 100%/1.2em sans-serif; */

}

#content {
    margin-right: auto;
    margin-left: auto;
    max-width: 1050px;
}

blockquote {
    border-left: solid 2px #dddddd;
    padding-left: 13px;
}

#body {
    margin: 10px 230px 0px 10px;
    max-width: 728px;
    line-height: 1.5;
    font-size: 17px;
    padding: 0px;
    padding-right: 1em;
}

a img {
    border: 0px;
}

/* Anchors */
a {
    color: #c00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #a00;
}

a:active {
    color: #ff0000;
}

/* Basic classes */

.none { /* to add paragraph spacing to various elements for ttys */
    margin: 0px;
    padding: 0px;
}

.invisible { /* stuff that should appear when this css isn't used */
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 0px;
    visibility: hidden;
}

.left {
    margin: 10px;
    padding: 0px;
    float: left;
}

.right {
    margin: 10px;
    padding: 0px;
    float: right;
}

.center {
    text-align: center;
}

/* Common page elements: Header, footer, etc. */

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 0px;
    z-index: 10;

    /* background: url("img/logo/text-64") no-repeat; */
    width: 64px;
    height: 64px;
}

#logo a img {
    width: 64px;
    height: 64px;
}

#hdr {
    position: absolute;
    z-index: 5;

    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 48px;

    text-align: right;

    /* background: url("img/hdr/hills01.jpg") no-repeat; */
    background-color: #e3ffc3;
    border-bottom: 1px solid #807d74;
}

#banner {
    position: absolute;
    z-index: 10;

    top: 0px;
    right: 0px;
    border: 0px;

    width: 300px;
    height: 48px;

    /* background: url("img/spacer") no-repeat; */
}

#banner a img {
    width: 300px;
    height: 48px;
}

#hdrNav {
    position: absolute;
    top: 54px;
    left: 0px;

    margin-left: 84px;
    text-align: left;
    vertical-align: middle;
    font-size: small;
}

#hdrNav a {
    color: #000000;
}

#hdrTitle {
    height: 48px;
    padding: 10px 10px 0px 0px;
    font-weight: bold;
}


/* Search thingy */

#search {
    font-size: small;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #dddddd;
}

#search input {
    border: 1px solid #666666;
    background-color: #ffffff;

    vertical-align: middle;
}


/* Sidebar */

#sidebar {
    float: right;
    margin-top: 100px;
    right: 0px;
    width: 220px;

    margin-right: 10px;
    padding-left: 4px;
    padding-right: 10px;
    padding-bottom: 0px;
    background-color: #ffffff;
}

#sidebar p {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#sidebar p.section {
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #999999;
    background-color: #eeeeee;
}

#sidebar ul {
  margin: 0em;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

#sidebar ul ul {
  padding-left: 2em;
  padding-right: 0em;
  list-style-type: square;
}


/* Copyright footer */

#copyright {
    text-align: center;
    font-size: small;
    clear: both;

    margin-top: 10px;
    padding: 5px 0px 5px 0px;
    color: #aaaaaa;
}

#copyright a {
    color: #aaaaff;
}

#copyright a:visited {
    color: #ffaaaa;
}


/* News Sections */

p.newsitem {
    clear: left;
    margin-bottom: 20px;
}

p.newsitem img.newsicon {
    float: left;
    margin: 0px 10px 10px 10px;
    border: 0px;
}


/* Generic Classes */

div.code {
    background-color: #e0e0e0;
    color: #000000;
    white-space: pre;
    font-family: monospace;
}


pre {
    color: #600;
}/* Common page elements: Header, footer, etc. */

#banner {
    width: 300px;
    height: 48px;
    background: none;
}

#banner a img {
    width: 300px;
    height: 48px;
}


#sidebar p.section {
    color: black;
    background-color: #9db8d2;
}


/* pybloxsom overrides */

.blosxomTitle {
}

.blosxomStory img {
    float: none;
    clear: right;
    //padding-left: 8px;
    max-width: 700px;
}


.slimediff {
    color: #c0c0c0;
    white-space: pre;
}


.slimediff-add {
    color: #000000;
}
/* Standard Blosxom Bits */

.blosxomDate {
    color: #aaaaaa;
    clear: both;
}

.blosxomDate a {
    text-decoration: none;
    border-bottom: solid 2px #cccccc;
}

.blosxomDateLink {
    float: right;
    border: 0px;
}

.blosxomTitle {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: 2em;

}

.blosxomTitle a {
    color: black;
    text-decoration: none;
}

.blosxomTitle a:hover {
    text-decoration: underline;
}

.blosxomStory {
    margin-left: 1.5em;
    margin-right: 2em;
    margin-top: 0.5em;
    color: #333;
}

a.permalink {
    color: #aaaaaa;
    font-size: small;
    text-decoration: none;
}

a.permalink:hover {
    text-decoration: underline;
}

.blosxomStory p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.blosxomStory img {
    border: 0px;
/*  padding: 8px 8px 8px 8px; */
    margin: 0px;
    float: none;
}

.blosxomStory img.left {
    float: left;
}

.blosxomStory img.right {
    float: right;
}


.monthbox {
    background: #eeeeee;
    border: solid 1px #dddddd;
    width: 11em;
        text-align: center;
}

.monthbox a {
    color: black;
}

.monthbox a:visited {
    color: gray;
}

.monthbox a:hover {
    color: red;
}

.archivedayblock {
    border-top: solid 1px #dddddd;
    border-left: solid 1px #dddddd;
}

.archivedaynumber {
    font-size: large;
    font-style: italic;
    color: gray;
    float: right;
    width: 3em;
}

.caption {
    font-size: smaller;
    padding-left: 8px;
}

h1 { font-size: 105% }
h2 { font-size: 100% }
h3 { font-size: 95% }
