/* $Id: all.css,v 1.3 2005/07/19 20:15:21 xach Exp xach $ */
/* Basic tags */
body {
    /* margin: 0px; */
    background-color: white;
    font-family: sans-serif;
    color: black;
}

#body {
    margin: 0px 230px 0px 10px;
    padding-left: 10px;
}

a img {
    border: 0px;
}

/* Anchors */
a {
    color: #0000ff;
}

a:visited {
    color: #551a8b;
}

a:active {
    color: #ff0000;
}

/* Basic classes */

.none { /* to add paragraph spacing to various elements for ttys */
    margin: 0px;
    padding: 0px;
}

.invisible { /* stuff that should appear when this css isn't used */
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 0px;
    visibility: hidden;
}

.left {
    margin: 10px;
    padding: 0px;
    float: left;
}

.right {
    margin: 10px;
    padding: 0px;
    float: right;
}

.center {
    text-align: center;
}

/* Common page elements: Header, footer, etc. */

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 0px;
    z-index: 10;

    /* background: url("img/logo/text-64") no-repeat; */
    width: 64px;
    height: 64px;
}

#logo a img {
    width: 64px;
    height: 64px;
}

#hdr {
    position: absolute;
    z-index: 5;

    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 48px;

    text-align: right;

    /* background: url("img/hdr/hills01.jpg") no-repeat; */
    background-color: #e3ffc3;
    border-bottom: 1px solid #807d74;
}

#banner {
    position: absolute;
    z-index: 10;

    top: 0px;
    right: 0px;
    border: 0px;

    width: 300px;
    height: 48px;

    /* background: url("img/spacer") no-repeat; */
}

#banner a img {
    width: 300px;
    height: 48px;
}

#hdrNav {
    position: absolute;
    top: 54px;
    left: 0px;

    margin-left: 84px;
    text-align: left;
    vertical-align: middle;
    font-size: small;
}

#hdrNav a {
    color: #000000;
}

#hdrTitle {
    height: 48px;
    padding: 10px 10px 0px 0px;
    font-weight: bold;
}


/* Search thingy */

#search {
    font-size: small;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #dddddd;
}

#search input {
    border: 1px solid #666666;
    background-color: #ffffff;

    vertical-align: middle;
}


/* Sidebar */

#sidebar {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 210px;

    margin-right: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    border-left: 1px dashed #dddddd;
    background-color: #ffffff;
}

#sidebar p {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#sidebar p.section {
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #999999;
    background-color: #eeeeee;
}

#sidebar ul {
  margin: 0em;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

#sidebar ul ul {
  padding-left: 2em;
  padding-right: 0em;
  list-style-type: square;
}


/* Copyright footer */

#copyright {
    text-align: center;
    font-size: small;
    clear: both;

    margin-top: 10px;
    padding: 5px 0px 5px 0px;
    color: #aaaaaa;
}

#copyright a {
    color: #aaaaff;
}

#copyright a:visited {
    color: #ffaaaa;
}


/* News Sections */

p.newsitem {
    clear: left;
    margin-bottom: 20px;
}

p.newsitem img.newsicon {
    float: left;
    margin: 0px 10px 10px 10px;
    border: 0px;
}


/* Generic Classes */

div.code {
    background-color: #e0e0e0;
    color: #000000;
    white-space: pre;
    font-family: monospace;
}


pre {
        overflow: auto;
}/* Common page elements: Header, footer, etc. */

#banner {
    width: 300px;
    height: 48px;
    background: none;
}

#banner a img {
    width: 300px;
    height: 48px;
}

#sidebar {
    border-left: 1px dashed #9db8d2;
}

#sidebar p.section {
    color: black;
    background-color: #9db8d2;
}


/* pybloxsom overrides */

.blosxomTitle {
    background-color: #eeeeee;
    padding: 5px;
    clear: both;
}

.blosxomStory img {
    float: none;
    clear: right;
    padding-left: 8px;
}


.slimediff {
    color: #c0c0c0;
    white-space: pre;
}


.slimediff-add {
    color: #000000;
}
/* Standard Blosxom Bits */

.blosxomDate {
    font-weight: bold;
    clear: both;
    border-bottom: dashed 2px #cccccc;
}

.blosxomDate a {
    text-decoration: none;
    border-bottom: solid 2px #cccccc;
}

.blosxomDateLink {
    float: right;
    border: 0px;
}

.blosxomTitle {
    clear: both;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 15px;
    margin-bottom: 0px;
}

.blosxomTitle a {
    color: black;
    text-decoration: none;
}

.blosxomStory {
    margin: 15px;
    margin-bottom: 20px;
    margin-top: 7px;
    clear: both;
}

.blosxomStory a.permalink {
    color: #aaaaaa;
    font-size: small;
    text-decoration: none;
    font-style: italic;
        text-align: right;
        display: block;
}

.blosxomStory a.permalink:hover {
        text-decoration: underline;
        color: #000000;
}


.blosxomStory p {
    margin-top: 7px;
    margin-bottom: 7px;
}

.blosxomStory img {
    border: 0px;
/*  padding: 8px 8px 8px 8px; */
    margin: 0px;
    float: none;
}

.blosxomStory img.left {
    float: left;
}

.blosxomStory img.right {
    float: right;
}


.monthbox {
    background: #eeeeee;
    border: solid 1px #dddddd;
    width: 11em;
        text-align: center;
}

.monthbox a {
    color: black;
}

.monthbox a:visited {
    color: gray;
}

.monthbox a:hover {
    color: red;
}

.archivedayblock {
    border-top: solid 1px #dddddd;
    border-left: solid 1px #dddddd;
}

.archivedaynumber {
    font-size: large;
    font-style: italic;
    color: gray;
    float: right;
    width: 3em;
}

.caption {
    font-size: smaller;
    padding-left: 8px;
}

a.feed-url {
        font-size: smaller;
        text-decoration: none;
        color: #999999;
}

a:hover.feed-url {
        text-decoration: underline;
}

li a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

