<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Developers Planet</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='planet.css')}}" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="alternate" href="/rss20.xml" title="" type="application/atom+xml">
</head>

<body>
<h1>Developers Planet</h1>

<div id="planet">
    {% set source="" %}

    {% for entry in mm.entries %}
    <div class="daygroup">
        <h1>{{ entry.date_update}}</h1>
        {% if entry.source.name != source %}
        <div class="channelgroup">
            <h2><a href="{{ entry.source.url }}" title="{{ entry.source.name }}">{{ entry.source.name }}</a></h2>
        {% endif %}
            <div class="entrygroup" >
                <h3><a href="{{ entry.link }} ">{{ entry.title }}</a></h3>
                <div class="entry">
                    <div class="content">
                    {{ entry.content }}
                    </div>

                    <p class="date">
                        <a href="{{ entry.link}}">by {{ entry.authors }} at {{ entry.date_update }}</a>
                    </p>
                </div>
            </div>
        {% if entry.source.name != source %}
            {% set source=entry.source.name %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>


<div class="sidebar">

    <h1>Subscriptions</h1>
    <ul>
        {% for source in mm.sources %}
        <li>
            <a href="{{ source.link }}" title="subscribe"><img width="10" height="10" src="{{url_for('static', filename='feed-icon-10x10.png')}}" alt="(feed)"></a>
            <a href="{{ source.url }}" title="{{ source.name }}">{{ source.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <h1>Last update</h1>
    <p>
        {{ generate_time }}<br>
        <em>All times are UTC.</em><br>
    </p>

    <h1>RSS Feed</h1>
    <p>
        <a href="/rss20.xml" title="subscribe"><img width="10" height="10" src="{{url_for('static', filename='feed-icon-10x10.png')}}" alt="(feed)"></a> <a href="/rss20.xml">Subscribe</a>
    </p>

    <h1>Code</h1>
    <p>
        <a href="https://github.com/hrw/very-simple-planet-aggregator">Very Simple Planet Aggregator</a>
    </p>
</div>
</body>

</html>