<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{mm.title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='planet.css')}}" type="text/css">
</head>

<body>
    <a href="{{mm.link}}"><img border=0 src="{{url_for('static', filename='logo.png')}}" height=58 width=342 alt="{{mm.title}}"></a>

    <div id="sidebar" float="right">
        <h4 class="section">Related Sites</h4>
        <ul>
            {%for related in mm.misc.related%}
            <li> <a href="{{related.link}}">{{related.name}}</a>
            {%endfor%}
        </ul>

        <h4 class="section">Subscriptions</h4>
        <ul>
        {%for source in mm.sources%}
        <li><img src="{{source.logo}}"><a href="{{source.link}}" title="{{source.name}}">{{source.name}}</a></li>
        {%endfor%}
        </ul>

        <h4 class="section">Other stuff</h4>
        <ul>
            <li><a href="rss20.xml">Syndicate</a></li>
            <li><a href="mailto:someone@example.org">Suggest a feed</a></li>
        </ul>

        <p>{{mm.description}}</p>
        <p>Most times are listed in GMT.</p>
    </div>

    <div id="body">
    {% set dt = namespace(year=0, month=0, day=0) %}
    {%for entry in mm.entries%}
        {%if dt.year!=entry.date.tm_year or dt.month!=entry.date.tm_mon or dt.day!=entry.date.tm_mday%}
        <h3 class="blosxomDate">{{entry.date|date("%B %d, %Y")}}</h3>
        {% set dt.year = entry.date.tm_year %}
        {% set dt.month = entry.date.tm_mon %}
        {% set dt.day = entry.date.tm_mday %}
        {%endif%}

        <h4 class="blosxomTitle"><a href="{{entry.source.link}}">{{entry.source.name}}</a> &mdash; <a href="{{entry.link}}">{{entry.title}}</a></h4>
        <div class="blosxomStory">
            <div class="markdown_content">{{entry.content}}</div>
            &nbsp;
            <a class="permalink" href="{{entry.link}}">({{entry.date|date("%B %d, %Y %H:%M")}})</a>
        </div>
    {%endfor%}
    </div>

    <p></p>
        <hr />
        <hr />
    <p><em>Last updated: {{mm.last_update|date("%Y-%m-%d %H:%M")}}</em></p>
</body>
</html>