<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{mm.title}}</title>
    <style>
        @import url("{{url_for('static', filename='planet.css')}}");
    </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <img align="left" hspace="8" text="camelia" src="{{mm.logo}}"/>
    <h1>{{mm.title}}</h1>
    <p>{{mm.description}}</p>
    <address>{{mm.contact}}  / {{mm.last_update|date("%Y-%m-%d %H:%M")}}</address>
    <br/><br/>

    {%for entry in mm.entries%}
    <h2><a href="{{entry.link}}">{{entry.title}}</h2></a>
    <p><h3>Published by {{entry.authors}} on {{entry.date_updated}}2021-01-25T18:34:32</h3></p>
    <p>{{entry.content}}</p>
    {%endfor%}

    <hr />
</body>
</html>