<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{{mm.title}}</title>

    <link rel="shortcut icon" href="favicon.ico" />
    <link href="{{url_for('static', filename='fonts.css')}}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='online.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="header" id="header">
<header id="navbar" class="">
    <div class="container">
        <div class="navbar-header clearfix">
            <a href="#" class="navbar-toggle">
                <figure><span class="line"></span></figure>
                <span>Menu</span>
            </a>
            <ul id="menuextras">
            </ul>
            <a href="{{mm.link}}" class="navbar-oneQt retina" data-icon="&#58880;"></a>
            <nav class="navbar-menu clearfix" role="navigation">
                <ul id="mainmenu" class="menu">
                </ul>
            </nav>
        </div>
    </div>
    <div class="big_bar account" style="">
        <div class="container">
            <h1><div class="col-1 right big_bar_button account" style="margin-top:5px !important;"></div></h1>
        </div>
    </div>
</header>
</div>
<div class="content">
    <div class="wrapper">
        <div class="content-column">
            <div id="items">
                {%for entry in mm.entries%}
                <div class="day">
                    <h2><time datetime="{{entry.date|date("%d-%m-%Y")}}">{{entry.date|date("%d")}} <span>{{entry.date|date("%b")}}</span></time></h2>
                    <article id="item7b2e8afa">
                        <header class="itemheader feed-a285c821 feed-qtblog">
                            <h2 class="itemtitle"><a href="{{entry.link}}">{{entry.title}}</a></h2>
                        </header>
                        <footer>
                            by <a href="{{entry.source.link}}">{{entry.authors}}</a> (<a href="{{entry.source.link}}">{{entry.source.name}}</a>)
                        </footer>
                        <div class="itemdescription">{{entry.content}}</div>
                    </article>
                </div>
                {%endfor%}
            </div>
        </div>
    <aside>
        <img src="{{url_for('static', filename='logo.png')}}" class="responsive-image" alt="{{mm.title}}" />
        <h3>{{mm.title}}</h3>
        <p>{{mm.description}}</p>
        <h3>Join us</h3>
        <ul class="icon-links">
            <li class="qtproject-twitter"><a href="http://twitter.com/{{mm.misc.social.twitter}}">@{{mm.misc.social.twitter}}</a></li>
            <li class="qt-meetup"><a href="http://www.meetup.com/{{mm.misc.social.meetup}}">{{mm.misc.social.meetup}}</a></li>
        </ul>
        <h3>Contributing</h3>
        <p>{{mm.misc.contributing}}</p>
        <h3>Subscriptions</h3>
        <ul>
            {%for source in mm.sources%}
            <li><a class="xmlbutton" href="{{source.url}}"> <img src="{{url_for('static', filename='feed-icon-14x14.png')}}" title="Feed source" alt="Feed source" /></a><a href="{{source.link}}">{{source.name}}</a></li>
            {%endfor%}
        </ul>
    </aside>
</div>
<div id="footer">
<footer id="footerbar">
    <div class="footer-main">
        <div class="container clearfix">
            <nav class="footer-nav clearfix">
                <div class="menu-footer-menu-container">
                </div>
            </nav>
            <div class="footer-social clearfix">
            </div>
        </div>
    </div>
    <div class="disclaimer">
        <div class="container clearfix no_discs">
        </div>
    </div>
</footer>
</div>

</body>
</html>