<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>{{mm.title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="icon" href="{{mm.link}}static/images/favicon.ico" />
  <link rel="stylesheet" href="{{url_for('static', filename='planet.css')}}" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id="actualites">
  <header>
    <div class="wrapper">
      <h1>{{mm.description}}</h1>
    </div>
  </header>
  <nav class="wrapper menu menu--main">
    <label for="toggle" class="menu__toggle">Menu</label>
    <input class="menu__checkbox" type="checkbox" name="toggle" id="toggle" checked>
    <ul class="menu__list">
        <li class="menu__item menu__item--brand">
           <a class="brand" href="/"><img src="{{mm.logo}}" title="Logo" /><span>{{mm.title}}</span></a>
        </li>
        <li class="menu__item"><a href="{{mm.link}}">Accueil</a></li>
        <li class="menu__item"><a href="{{mm.link}}docs/a-propos">Qui sommes-nous ?</a></li>
        <li class="menu__item"><a href="{{mm.link}}posts/actualites">Actualités</a></li>
        <li class="menu__item"><a href="{{mm.link}}posts/emplois">Offres d&#39;emplois</a></li>
        <li class="menu__item"><a href="{{mm.link}}communaute">Communauté</a></li>
        <li class="menu__item"><a href="https://discuss.afpy.org">Discussion</a></li>
        <li class="menu__item"><a href="{{mm.link}}irc">IRC</a></li>
        <li class="menu__item"><a href="{{mm.link}}adhesions">Adhésions</a></li>
    </ul>
  </nav>
  <main>
    <section class="articles">
    {%for entry in mm.entries%}
    <article>
      <h2><a href="{{entry.link}}">{{entry.title}}</a></h2>
      <h3>by {{entry.authors}} from <a href="{{entry.source.url}}">{{entry.source.name}}</a></h3>
      <time pubdate datetime="{{entry.date_update}}">{{entry.date |date("%d/%m/%Y %H:%M")}}</time>
      {{entry.content|safe}}
      <p><a href="{{entry.link}}">Lire la suite…</a></p>
    </article>
    {%endfor%}
    </section>
    <aside>
      <h3>Sources</h3>
      <ul>
        {%for source in mm.sources|sort(attribute="name")%}
        <li><a href="{{source.url}}">{{source.name}}</a></li>
        {%endfor%}
      </ul>
    </aside>
  </main>
  <footer class="wrapper menu menu--footer">
    <ul class="menu__list">
      <li class="menu__item"><a href="/docs/contact">Contact</a></li>
      <li class="menu__item"><a href="/docs/charte">Charte</a></li>
      <li class="menu__item"><a href="/docs/legal">Mentions légales</a></li>
      <li class="menu__item"><a href="/docs/rss">Flux RSS</a></li>
      <li class="menu__item"><a href="https://twitter.com/asso_python_fr">Twitter</a></li>
      <li class="menu__item"><a href="/admin/posts/actualites">Admin actualités</a></li>
      <li class="menu__item"><a href="/admin/posts/emplois">Admin offres d&#39;emploi</a></li>
    </ul>
  </footer>
</body>

</html>