<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{mm.title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='foundation.min.css')}}" type="text/css" />
        <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    </head>
    <body>
        <header>
            <div class="row">
                <div class="large-12">
                    <h1><a href="/">{{mm.title}}</a></h1>
                    <dl class="sub-nav">
                        <dd><a href="/">Home</a></dd>
                        <dd><a href="/about">About</a></dd>
                    </dl>
                </div>
            </div>
        </header>
       <a href="{{mm.makemake.source}}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="" alt="Fork me on Framagit"></a>
        <div class="container">
            <div class="row">
                <div class="large-8 columns">
                    {%for entry in mm.entries%}
                    <article>
                        <h1>{{entry.title}}</h1>
                        <h6>by <a href="{{entry.source.link}}">{{entry.source.name}}</a></h6>
                        <div class="content">{{entry.content}}</div>
                        <p class="metabox">posted on {{entry.date|date("%a, %b %d, %Y")}} at {{entry.date|date("%I:%M %p")}}
                            <br/>
                            Categories:
                            {%for tag in entry.tags%}
                            {{tag}}
                            {%endfor%}
                        </p>
                    </article>
                    {%endfor%}
                </div>
                <div class="large-4 sidebar columns">
                    <h3> Contributors </h3>
                    <ul class="link-list">
                        {%for source in mm.sources%}
                            <li><a href="{{source.link}}">{{source.name}}</a></li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}
